body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.oxxo {
  text-align: center;
  padding: 2em;
}

.oxxo img {
  width: 200px;
  height: auto;
  margin: 1em 0;
}

button {
  padding: 1em;
  margin: 0.5em;
  background-color: #ff9800;
  color: white;
  border: none;
  cursor: pointer;
}