body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 1em;
}

.ticket {
  padding: 2em;
  max-width: 500px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}